* {
	margin: 0;
	padding: 0;
}
#sjmengban{
	width: 100%;
	height: 100%;
	display: none;
	background: rgba(0,0,0,0.8);
	position: fixed;
	left: 0;
	top: 0;
	z-index: 10000;
}

#sjmengban a{
	display: block;
	width:800px;
	height: 720px;
	background: url(../img/mengban.png)no-repeat;
	margin:60px auto;
	background-size:100% ;
}
#gbmengban{
	width: 40px;
	height: 40px;
	font-size: 30px;
	position: absolute;
	top: 34px;
	right: 240px;
	color: white;
}

/*轮播图start*/
body {
	background: #fff;
	font-size: 14px;
	color: #333;
	font-family: Arial, "Microsoft YaHei", "微软雅黑", "宋体";
	font-family: "Microsoft YaHei", "微软雅黑", "宋体"\9;
	font-weight: normal;
}

input {
	font-family: Arial, "Microsoft YaHei", "微软雅黑", "宋体";
}

textarea {
	font-family: Arial, "Microsoft YaHei", "微软雅黑", "宋体";
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
	color: cornflowerblue;
}

#notice {
	margin-left: 13px;
}

#notice:hover {
	color: #ec6500;
}

body,
html {
	width: 100%;
	height: auto;
}

h1 {
	width: 100%;
	height: 60px;
	font-size: 36px;
	text-align: center;
}

@charset "utf-8";

/* CSS Document */


/*-----------------------头部-------------------------*/
#yemei{
	width: 300px;
	height: 100%;
	float: right;
	margin-right: 20px;
}
#yemei ul{
	width: 100%;
	height: 100%;
}
#yemei ul li{
	width: 90px;
	height: 100%;
	float: left;
	text-align: center;
}
.topmenu {
	height: 27px;
	background: #f2f2f2;
	line-height: 27px;
	border: 1px solid #e5e5e5;
}

.topmenu .login {
	width:240px;
	color: #999;
	height: 25px;
}

.topmenu div a {
	color: #999;
	font-size: 12px;
}

.topmenu div a:hover {
	color: #2f89e6;
}

.topmenu .loginr {
	text-align: right;
	position: relative;

}


/*.topmenu .loginr .tel400{ background: url(../maobg/tel400-icon.png) left center no-repeat; position: absolute; top:0; right:0; z-index: 3; width:218px; height:28px;}*/

.topmenu .loginr .tel400 {
	padding-left: 20px;
	background: url(../maobg/tel400-icon.png) left center no-repeat;
	position: absolute;
	top: 0;
	right: 0;
	z-index: 3;
	width: 190px;
	height: 28px;
	color: #f6ab00;
	font-size: 12px;
}

.topmenu .loginr .s-icon-shop {
	background: url(../maobg/s-icon-shop.png) 5px 1px no-repeat;
	padding-left: 25px;
	color: #999;
	font-size: 13px;
}

.topmenu .login .s-homeico {
	background: url(../maobg/s-homeico.png) 5px 1px no-repeat;
	padding-left: 23px;
	color: #999;
	font-size: 13px;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
	.topmenu .login .s-homeico {
		background: url(../maobg/s-homeico.png) 5px 3px no-repeat;
		padding-left: 23px;
		color: #d6d9db;
		font-size: 13px;
	}
}


 h2 {
	font-size: 16px;
	color: white;
}

.fengcai {
	width: 100%;
	height: 300px;
	background: url(../img/beijing3.jpg) no-repeat;
	background-size: 100%;
	padding: 10px;
	margin: 10px 0px;
	box-sizing: border-box;
	border-radius: 8px;
}

.fengcai:hover {
	box-shadow: 0px 0px 20px 6px gold inset;
}

header {
	width: 100%;
	height: 40px;
	background-color: #08c;
}

header .header_div {
	width: 1200px;
	height: 40px;
	margin: 0 auto;
}

.header_div .header_logo {
	width: 400px;
	height: 40px;
	float: left;
}

header .header_div .header_title {
	height: 40px;
	width: 220px;
	float: left;
}

.header_div .header_logo .header_logo_img {
	width: 90px;
	height: 34px;
	float: left;
	margin: 3px 5px 0px;
}

header .header_div .header_title h3 {
	font-size: 14px;
	color: white;
	font-weight: 200;
	text-align: center;
	margin: 0px 10px;
}

header .header_div .header_title h6 {
	font-size: 12px;
	color: white;
	font-weight: 100;
	text-align: center;
	margin: 2px auto;
}

header .header_div .nav {
	margin-left: 40px;
	width: 700px;
	height: 40px;
	float: left;
}

header .header_div .nav ul {
	width: 100%;
	height: 40px;
	display: flex;
	padding-top: 5px;
	box-sizing: border-box;
}

header .header_div .nav ul li {
	flex: 1;
	height: 28px;
	border-radius: 7px;
	text-align: center;
	line-height: 28px;
	margin: 0px 5px;
}

.header {
	height: 65px;
	width: 100%;
	position: relative;
	z-index: 99;
	min-width: 1200px;
	background-color: #fff;
	/* border-top: 2px solid #007dda*/
}

.header_bg {
	filter: alpha(opacity=90);
	-moz-opacity: 0.9;
	-webkit-opacity: 0.9;
	opacity: 0.9;
	width: 100%;
	height: 65px;
	position: absolute;
	left: 0;
	top: 0;
}

.head {
	position: relative;
	padding-left: 200px;
	height: 65px;
	width: 900px;
	z-index: 9999;
}

.logo {
	width: 160px;
	height: 56px;
	position: absolute;
	left: 0;
	top: 6px;
	background:url(../img/logo.png)no-repeat ;
}

.logo a {
	display: block;
	height: 56px;
	color: #fff;
	overflow: hidden;
	opacity: 0;
	fliter: alpha(opacity=0);
	*zoom: 1;
}

.logo img {
	width: 120px;
	height: 56px;
	display: block;
}

.shop {
	width: 45px;
	height: 48px;
	position: absolute;
	right: 0;
	top: 0;
}

.tel {
	width: 160px;
	height: 48px;
	position: absolute;
	right: 0;
	top: 0;
	line-height: 48px;
	color: #f87500;
}

.shop a {
	width: 45px;
	height: 48px;
	display: block;
	background: url(../maobg/icon-shop.png) no-repeat center;
}

.shop a span {
	background: #f87500;
	border-radius: 6px;
	padding: 0 3px;
	line-height: 14px;
	font-size: 12px;
	color: #fff;
	position: absolute;
	top: 10px;
	left: 24px;
}

.shop a:hover {
	background: url(../maobg/icon-shop.png) no-repeat center #f5f7f9;
}

.login_before {
	width: 89px;
	height: 48px;
	position: absolute;
	top: 0;
	right: 45px;
	line-height: 48px;
	font-size: 12px;
}

.login_before a {
	display: block;
	text-align: center;
	padding-left: 16px;
	background: url(../maobg/icon-person.png) no-repeat 8px 18px;
}

.login_before a:hover {
	background: url(../maobg/icon-person.png) no-repeat 8px 18px #f5f7f9;
}

.login_after {
	width: 100px;
	height: 48px;
	position: absolute;
	top: 0;
	right: 45px;
	line-height: 48px;
	font-size: 12px;
}

.login_after a.user {
	height: 48px;
	display: block;
	padding: 0 23px;
	background: url(../maobg/icon-person.png) no-repeat 8px 17px;
	color: #666;
	overflow: hidden;
}

.login_after a.user:hover {
	background: url(../maobg/icon-person.png) no-repeat 8px 17px #f5f7f9;
}

.login_after a.user i.icon-arrow {
	width: 7px;
	height: 4px;
	display: block;
	background: url(../maobg/icon-arrow.png) no-repeat 0 0;
	position: absolute;
	top: 23px;
	right: 12px;
}

.after_con {
	width: 54px;
	position: absolute;
	left: 0;
	top: 48px;
	background: #f5f7f9;
	padding: 9px 23px;
	z-index: 9999;
}

.after_con a {
	line-height: 24px;
	display: block;
	height: 24px;
	overflow: hidden;
}

.nav {
	width:920px;
	overflow: hidden;
	margin: 0 auto;
	height: 65px;
	display: flex;
}

.nav li {
	flex: 1;
	height: 65px;
	text-align: center;
}

.nav li:hover {
	box-shadow: 0 0 10px gray inset;
}

.nav li a {
	height: 65px;
	line-height: 65px;
	color: #666;
	text-align: center;
	display: block;
	font-size: 16px;
	font-weight: bold;
}

.nav li a.active {
	color: #f87500;
}

.nav li.d_2 a {
	font-size: 18px;
}

.nav li.d_2 a.active {
	color: #f87500;
}

.subnav {
	position: absolute;
	left: 0;
	top: 64px;
	width: 100%;
	font-size: 0;
	border-top: 1px solid #ececec;
}

.subnav_bg {
	background: #fff;
	width: 100%;
	height:0;
	position: absolute;
	left: 0;
	top: 0;
	filter: alpha(opacity=90);
	-moz-opacity: 0.90;
	-webkit-opacity: 0.90;
	opacity: 0.90;
	z-index: -1;
}

.subnav_con {
	width: 100%;
	height: 0;
	z-index: 999;
	margin: 0 auto;
	position: relative;
	opacity: .5;
	background:black;
}
.subnav_con .subnav_con_div {
	margin: 0 auto;
	overflow: hidden;
	height: 100%;
	width: 1100px;
}

.subnav_con ul {
	display: flex;
	transition: all 0.5s;
}

.subnav_con ul li {
	text-align: center;
	font-size: 14px;
	padding: 20px 0;
}

.subnav_con ul li a {
	display: block;
	height: 100%;
	width: 100%;
	font-size: 18px;
	margin-top: 20px;
	color: white;
}
.subnav_con ul li a p{
	width: 100%;
	height: 30px;
	text-align: center;
	margin: 10px auto;
}
.subnav_con ul li img {
	width: 210px;
	height: 200px;
}

.subnav_con_zuoyou {
	display: none;
	width: 40px;
	height: 40px;
	font-size: 40px;
	position: absolute;
	z-index: 10000;
	text-align: center;
	line-height: 40px;
	color: #9A9A9A;
}

.subnav_con_zuoyou .iconfont {
	color: white;
}

.subnav_con_zuoyou:hover .iconfont {
	color:#4169E1;
}

.subnav_con_left {
	position: absolute;
	left: 20px;
	top: 40%;
}

.subnav_con_right {
	position: absolute;
	right: 20px;
	top: 40%;
}

.nav_icon {
	font-size: 80px;
	color: white;
}

.header_div .nav ul li:hover {
	background-color: #808069;
}

.header_div .nav ul li a {
	color: white;
	font-size: 14px;
}

#food_all {
	width: 100%;
	padding: 10px 0px 0px;
	background-color: rgba(0, 0, 0, 0.7);
}
.food_top {
	height: 300px;
	width: 1100px;
	margin: 0 auto;
	padding-top: 20px;
}
.food_top_left {
	width: 50%;
	height: 280px;
	float: left;
	padding: 10px;
	box-sizing: border-box;
	border-right: 1px dashed #eee;
}

.food_top_left ul {
	margin-top: 10px;
	width: 100%;
	height: auto;
}

.food_top_left ul li {
	height: 20px;
	width:240px;
	margin: 10px;
	color: white;
	font-size: 14px;
	float: left;
}

.food_top_left ul .lidizhi {
	width: 450px;
}

.food_top_center {
	padding: 10px 20px;
	width: 48%;
	height: 280px;
	float: left;
	box-sizing: border-box;
}

#input_text {
	width: 440px;
	height: 60px;
	margin-left: 10px;
}

.food_top_center form {
	width: 100%;
	height: 100%;
}
.food_top_center p{
	font-size: 18px;
	font-weight:bold ;
    color: white;
    width: 100%;
    height:40px;
    float: left;
    text-align: center;
}
.food_top_center form input {
	border: 1px solid #eee;
	height: 20px;
	font-size: 16px;
	line-height: 20px;
	text-align: left;
	padding: 5px 3px;
	margin: 10px;
	color:white;
}

#input_youname {
	width: 120px;
}

#input_shouji {
	width: 280px;
}

#input_weixin {
	width: 200px;
}

#input_qq {
	width: 200px;
}

#input_tijiao {
	width: 80px;
	height: 40px;
	text-align: center;
    color: white;
    background-color: red;
    border: none;
    border-radius: 10px;
}

#input_text {
	background-color: rgba(0, 0, 0, 0.1);
}

.food_top_right {
	padding: 10px 20px;
	width: 24%;
	height: 200px;
	float: left;
	box-sizing: border-box;
}

.food_top_right .food_ewm {
	height: 220px;
	width: 220px;
	text-align: center;
	margin-top: 15px;
}

.food_top_right .food_ewm p {
	width: 100%;
	height: 30px;
	line-height: 30px;
	color: #f47b1a;
	margin: 10px auto;
}

.food_bottom {
	height: 50px;
	width: 100%;
	margin: 0 auto;
	padding: 2px 0px;
	background-color: rgba(0, 0, 0, 0.8);
}

.food_bottom_div {
	width: 1300px;
	height: 100%;
	margin: 0 auto;
}

.food_bottom_left {
	width: 60%;
	height: 40px;
	float: left;
	line-height: 70px;
}

.food_bottom_left span {
	width: 650px;
	height: 100%;
	line-height: 50px;
	color: white;
	font-size: 14px;
	float: left;
}

.food_bottom_left img {
	float: left;
	height: 34px;
	width: 90px;
	margin: 7px;
}

.food_bottom_right {
	width: 40%;
	height: 28px;
	float: left;
	padding-top: 17px;
	box-sizing: border-box;
}

.food_bottom_right ul {
	width: 100%;
	height: 100%;
}

.food_bottom_right ul li {
	width: 62px;
	height: 18px;
	padding: 0px 10px;
	font-size: 12px;
	line-height: 18px;
	float: left;
	border-right: 1px solid #e0e0e0;
}

.food_bottom_right ul li a {
	color: white;
}

#cometop {
	width: 60px;
	height: 80px;
	position: fixed;
	border-radius: 10px;
	bottom: 50px;
	right: 1px;
	z-index: 1000;
	text-align: center;
	padding: 4px;
	background-color: gray;
}

#cometop i {
	color: white;
	font-weight: 200;
	font-size: 40px;
}

#cometop span {
	color: white;
	font-weight: 200;
	font-size: 18px;}

.gzwm {
	position: absolute;
	right: 0;
	top: 0;
	font-size: 12px;
	line-height: 12px;
	padding-right: 155px;
}

.gzwm span {
	position: absolute;
	top: 10px;
	right: 150px;
}

.gzwm a {
	color: #999;
	transition: color 0.2s;
	-moz-transition: color 0.2s;
	-webkit-transition: color 0.2s;
	-o-transition: color 0.2s;
}

.gzwm a:hover {
	color: #f87500;
}

.gzwm a.locat {
	position: absolute;
	top: 9px;
	right: 160px;
	display: block;
	height: 15px;
	width: 100px;
	line-height: 15px;
	background: url(../maobg/icon-locat.png) no-repeat 0 -20px;
	padding-left: 15px;
	color: #f87500;
}

.hotLine a {
	font-size: 16px;
	color: #fc3531;
	font-weight: bold;
	cursor: default;
}

.gzwm .attention {
	width: 168px;
	height: 32px;
	line-height: 32px;
}

.gzwm .attention a.gz-wb {
	width: 32px;
	height: 32px;
}

.gzwm .attention a.gz-wx {
	width: 32px;
	height: 32px;
	padding-left: 10px;
}

.gzwm .attention .ewm {
	width: 130px;
	height: 110px;
	position: absolute;
	top: -18px;
	right: 0;
}

.gzwm a.kxwz {
	width: 89px;
	height: 32px;
	display: block;
	background: url(../maobg/icon-kxwz.png);
}

.gzwm div.kxwz span {
	top: 0px;
	right: 0px;
}

.gzwm div.kxwz img {
	width: 89px;
	height: 32px;
}


/*.onlineserver{width: 51px; height: 252px; position: fixed!important; right: 0; top: 25%; z-index: 99999;  _position:absolute; _top:expression(eval(document.documentElement.scrollTop+200));}
.onlineserver .zhankai,.onlineserver .shouqi{padding-top:30px; position: relative;}
.onlineserver span,.activityrecommend span{width:24px; height:24px; background: url(../maobg/serverclose-bg.png) 0 0 no-repeat; position: absolute; top:3px; right:4px; cursor: pointer;}
.onlineserver a{width: 144px; height: 110px; display: block; background: url(../maobg/online-zx.jpg) no-repeat 0 0 #3d3d3d;}
.onlineserver a.s{width: 28px; height: 110px; display: block; background: url(../maobg/online-zx.jpg) no-repeat 0 0 #3d3d3d;}
.onlineserver a:hover{background-color: #333;}
.onlineserver .zx-tel{background-position: 0 -112px; cursor: default;}
.onlineserver .shouqi{width:51px; height:222px;}*/

.onlineserver {
	width: 51px;
	height: 110px;
	position: fixed!important;
	right: 0;
	top: 50%;
	z-index: 99999;
	_position: absolute;
	_top: expression(eval(document.documentElement.scrollTop+200));
}

.onlineserver ul {
	height: 110px;
	position: relative;
	margin-top: -81px;
}

.onlineserver ul li {
	width: 51px;
	height: 51px;
	background: url(../maobg/onlineserviceclose02.png) 0 0 no-repeat;
	margin-bottom: 4px;
	position: absolute;
	top: 0;
	right: 0;
}

.onlineserver ul li.first {
	background-position: 0 -51px;
}


/*.onlineserver ul li.second{background-position: 0 -102px; top:55px;}*/

.onlineserver ul li.last {
	top: 55px;
}

.onlineserver ul li.on {
	background-image: url(../maobg/onlineservice-open.png);
}

.onlineserver ul li.on.first {
	background-position: 0 -51px;
}

.onlineserver ul li.on.second {
	background-position: 0 -102px;
}

.onlineserver ul li a {
	display: block;
	height: 51px;
}

.scrolltop {
	width: 60px;
	height: 60px;
	position: fixed!important;
	right: 0;
	bottom: 10%;
	z-index: 99999;
	_position: absolute;
	_top: expression(eval((document.compatMode&&document.compatMode=="CSS1Compat")?documentElement.scrollTop+documentElement.clientHeight-this.clientHeight-20:document.body.scrollTop+document.body.clientHeight-this.clientHeight-20));
}

.scrolltop a.t {
	width: 60px;
	height: 60px;
	display: block;
	background: url(../maobg/top2.png) no-repeat center #e2e2e2;
	margin-top: 5px;
}

.scrolltop a:hover {
	background-color: #9a9a9a;
}

.activityrecommend {
	width: 51px;
	position: fixed!important;
	right: 0;
	top: 52%;
	z-index: 100000;
	_position: absolute;
	_top: expression(eval(document.documentElement.scrollTop+255));
}

.zhankai {
	display: none;
}

.shouqi a.zaixianzixun {
	width: 100%;
	height: 222px;
	background: url(../maobg/online-orange-bg.png) 0 0 no-repeat;
}

.shouqi span {
	background-image: url(../maobg/serveropen-bg.png);
	right: 13px;
}

.activityrecommend .shouqi {
	width: 51px;
	height: 51px;
}

.activityrecommend .shouqi {
	background: url(../maobg/extend-bg.png) center bottom no-repeat;
}

.activityrecommend .zhankai {
	background: url(../maobg/activity-oranget.png) center top no-repeat;
	padding-top: 30px;
	text-align: center;
}

.activityrecommend .zhankai p {
	font-size: 12px;
	color: #fbe708;
	background-color: #ff9120;
	padding-bottom: 10px;
}

.open-con {
	background-color: #ff9120;
	padding: 0 17px;
}

.open-con a {
	display: block;
	font-size: 16px;
	color: #fff;
	text-align: left;
	border-top: 1px dashed #fff;
	padding: 10px 0 10px 24px;
	position: relative;
}

.open-con a em {
	font-style: normal;
	position: absolute;
	top: 10px;
	left: 0;
	z-index: 3;
}

.open-con a:hover {
	color: #fff;
}

.bt-bg {
	width: 144px;
	height: 12px;
	background: url(../maobg/activity-orangeb.png) 0 0 no-repeat;
}


/*左侧浮窗-建站服务*/

.jz-service-con {
	position: fixed;
	top: 50%;
	left: 0;
	z-index: 100;
	_position: absolute;
	_top: expression(eval(document.documentElement.scrollTop+200));
}

.jz-service-open {
	width: 114px;
	height: 278px;
	background: url(../maobg/jz-service-open2.png) 0 0 no-repeat;
	margin-top: -139px;
	display: none;
}

.jz-service-packup {
	width: 55px;
	height: 84px;
	background: url(../maobg/jz-service-packup.png) 0 0 no-repeat;
	margin-top: -42px;
}

.jz-service-close {
	width: 24px;
	height: 24px;
	background: url(../maobg/icon-close-24.png) 0 0 no-repeat;
	position: absolute;
	top: 0;
	right: 0;
	z-index: 2;
	cursor: pointer;
}

.jz-service-open a {
	width: 46px;
	height: 42px;
	color: #fff;
	text-align: center;
	opacity: 0;
	filter: alpha(opacity=0);
	padding-top: 4px;
	position: absolute;
	*zoom: 1;
}

.jz-service-open .jz-service1 {
	top: 0;
	left: 0;
}

.jz-service-open .jz-service2 {
	top: 36px;
	left: 42px;
}

.jz-service-open .jz-service3 {
	top: 87px;
	left: 67px;
}

.jz-service-open .jz-service4 {
	top: 144px;
	left: 67px;
}

.jz-service-open .jz-service5 {
	top: 196px;
	left: 42px;
}

.jz-service-open .jz-service6 {
	bottom: 0;
	left: 0;
}


/*------------------------弹窗样式------------------*/

.dzsw-pop,
.zx_pop,
.zero_pop {
	width: 736px;
	height: 560px;
	padding: 25px 27px;
	background-color: #fff;
	border-radius: 15px;
	position: fixed!important;
	left: 50%;
	top: 50%;
	margin-left: -395px;
	margin-top: -305px;
	z-index: 999;
	box-shadow: 0 0 10px 5px rgba(0, 0, 0, .2);
	_border: 1px solid #ddd;
	border: 1px solid #ddd\9;
	_position: absolute;
	_top: expression(eval(document.documentElement.scrollTop+50%));
}

.apply-con {
	width: 482px;
	padding: 0 127px;
	height: 560px;
	position: relative;
}

.apply-con a.close {
	width: 48px;
	height: 48px;
	display: block;
	position: absolute;
	right: 10px;
	top: 10px;
	background: url(../maobg/dzsw-pop-close.jpg) no-repeat 0 0;
	transition: none;
	-moz-transition: none;
	/* Firefox 4 */
	-webkit-transition: none;
	/* Safari 和 Chrome */
	-o-transition: none;
	/* Opera */
}

.zero_pop {
	height: 410px;
}

.zero_pop .apply-con {
	height: 410px;
}

.apply-con a.close:hover {
	background-position: 0 -48px;
}

.apply-con .title {
	font-size: 34px;
	color: #7cbd66;
	text-align: center;
	padding-top: 40px;
	line-height: 34px;
}

.apply-con .title.wherecity {
	z-index: 5;
}

.apply-con .subtitle {
	line-height: 50px;
	color: #999;
	padding-bottom: 10px;
	text-align: center;
}

.apply-con .form {}

.apply-con .textfile {
	width: 406px;
	height: 40px;
	margin-bottom: 15px;
	position: relative;
	padding-left: 70px;
}

.apply-con .textfile span.t {
	width: 60px;
	height: 40px;
	line-height: 40px;
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	text-align: right;
}

.apply-con .textfile input {
	width: 384px;
	height: 38px;
	line-height: 38px;
	border: 1px solid #e4e4e4;
	padding: 0 10px;
}

.apply-con .textfile .emailist {
	border: 1px solid #e4e4e4;
	background-color: #fff;
	line-height: 30px;
}

.apply-con .textfile .emailist li {
	padding: 0 10px;
}

.apply-con .textfile .emailist li.on {
	background-color: #b2b2b2;
	padding: 0 10px;
}

.apply-con .wherecity input {
	width: 137px;
	border: none;
}


/*.apply-con .wherecity input.gp{margin-right: 14px; _margin-right:0;}*/

.apply-con .lxman input {
	width: 245px;
}

.apply-con .lxman .appellation {
	width: 132px;
	height: 40px;
	position: absolute;
	left: 355px;
	top: 0;
}

.apply-con .lxman .appellation input {
	width: 16px;
	float: left;
	border: none;
	padding: 0;
	margin-right: 5px;
}

.apply-con .lxman .appellation span {
	float: left;
	width: 40px;
	height: 40px;
	line-height: 40px;
	display: block;
}

.apply-con .textfile a.submit {
	width: 140px;
	height: 46px;
	display: block;
	background: #1fb074;
	text-align: center;
	line-height: 46px;
	color: #fff;
	font-size: 16px;
}

.apply-con .textfile a.submit:hover {
	background: #15a268;
}

.apply-con .yzm input {
	width: 212px;
}

.apply-con .yzm a {
	width: 157px;
	height: 38px;
	display: block;
	line-height: 38px;
	text-align: center;
	color: #666;
	background: #f0f0f0;
	border: 1px solid #dfdfdf;
	position: absolute;
	left: 316px;
	top: 0;
}


/*免费咨询*/

.free-ask {
	height: 550px;
	background: #f8f8f8;
}

.free-ask .title {
	height: 40px;
	line-height: 40px;
	background: #b2b2b2;
}

.free-ask .title span {
	color: #fff;
	width: 734px;
	margin: 0 auto;
	display: block;
	font-size: 18px;
	text-align: center;
}

.free-ask .con {
	padding: 50px 0 0 350px;
	width: 750px;
	margin: 0 auto;
}

.free-ask .con .form {}

.free-ask .con .textfile {
	height: 40px;
	margin-bottom: 15px;
	position: relative;
	padding-left: 70px;
}

.free-ask .con .z2 {
	z-index: 2;
}

.free-ask .con .textfile.wherecity {
	z-index: 9;
}

.free-ask .con .textfile span.t {
	width: 60px;
	height: 40px;
	line-height: 40px;
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	text-align: right;
}

.free-ask .textfile input {
	width: 384px;
	height: 38px;
	line-height: 38px;
	border: 1px solid #e4e4e4;
	padding: 0 10px;
	color: #999;
	background-color: #fff;
}

.free-ask .con .textfile .emailist {
	border: 1px solid #e4e4e4;
	background-color: #fff;
	line-height: 30px;
}

.free-ask .con .textfile .emailist li {
	padding: 0 10px;
}

.free-ask .con .textfile .emailist li.on {
	background-color: #b2b2b2;
	padding: 0 10px;
}

.free-ask .con .lxman input {
	width: 245px;
}

.free-ask .con .lxman .appellation {
	width: 132px;
	height: 40px;
	position: absolute;
	left: 355px;
	top: 0;
}

.free-ask .con .lxman .appellation input {
	width: 16px;
	float: left;
	border: none;
	padding: 0;
	margin-right: 5px;
}

.free-ask .con .lxman .appellation span {
	float: left;
	width: 40px;
	height: 40px;
	line-height: 40px;
	display: block;
}

.free-ask .con .textfile a.submit {
	width: 140px;
	height: 46px;
	display: block;
	background: #ff9121;
	text-align: center;
	line-height: 46px;
	color: #fff;
	font-size: 16px;
}

.free-ask .con .textfile a.submit:hover {
	background: #ffb05f;
}

.free-ask .con .yzm input {
	width: 212px;
}

.free-ask .con .yzm a {
	width: 157px;
	height: 38px;
	display: block;
	line-height: 38px;
	text-align: center;
	color: #666;
	background: #f0f0f0;
	border: 1px solid #dfdfdf;
	position: absolute;
	left: 316px;
	top: 0;
}

.free-tips {
	width: 462px;
	padding-top: 10px;
}

.free-tips a {
	color: #1d77fd;
	font-weight: bold;
}


/***************下拉菜单******************/

.nice-select {
	width: 126px;
	height: 38px;
	border: 1px solid #e4e4e4;
	position: relative;
	background: #fff url(../maobg/icon-a2.jpg) no-repeat right center;
	cursor: pointer;
	float: left;
}

.marginr {
	margin-right: 11px;
}

.free-ask .textfile .nice-select input {
	display: block;
	outline: 0;
	background: none;
	cursor: pointer;
}

.nice-select ul {
	width: 100%;
	display: none;
	position: absolute;
	left: -1px;
	top: 38px;
	overflow: hidden;
	background-color: #fff;
	max-height: 150px;
	overflow-y: auto;
	border: 1px solid #e4e4e4;
	border-top: 0;
	z-index: 9999;
	_height: 150px;
	*height: 150px;
}

.nice-select ul li {
	height: 30px;
	line-height: 30px;
	overflow: hidden;
	padding: 0 10px;
	cursor: pointer;
}

.nice-select ul li.on {
	background-color: #fff7f0;
}


/*.apply-con .nice-select{_width:137px;}*/

.apply-con .nice-select input {
	_width: 117px;
}


/***************下拉菜单******************/

.free-ask .nice-select input {
	display: block;
	width: 108px;
	height: 38px;
	line-height: 38px \9;
	border: 0;
	outline: 0;
	background: none;
	cursor: pointer;
	color: #999;
}

.nice-select ul {
	width: 100%;
	display: none;
	position: absolute;
	left: -1px;
	top: 38px;
	overflow: hidden;
	background-color: #fff;
	max-height: 150px;
	overflow-y: auto;
	border: 1px solid #e4e4e4;
	border-top: 0;
	z-index: 9999;
	_height: 150px;
	*height: 150px;
}

.nice-select ul li {
	height: 30px;
	line-height: 30px;
	overflow: hidden;
	padding: 0 10px;
	cursor: pointer;
}

.nice-select ul li.on {
	background-color: #fff7f0;
}

.topimg-360 {
	height: 360px;
}

.topimg-240 {
	width: 1100px;
	height: 240px;
	padding: 30px 0 20px;
	margin: 0 auto;
}

.topimg-con {
	position: relative;
	width: 1100px;
	margin: 0 auto
}


/*咨询弹窗 begin*/

.pop-bg-blue {
	background-color: #00479d;
}

.pop-bg-orange {
	background-color: #ff9120;
}

.pop-bg-green {
	background-color: #94bf2c;
}

.pop-bg-main {
	background-color: #044a9f;
}

h2.font-color-blue {
	color: #00479d;
}

h2.font-color-orange {
	color: #ff9120;
}

h2.font-color-green {
	color: #94bf2c;
}

h2.font-color-main {
	color: #044a9f;
}

.pop-yuyue {
	width: 406px;
	background-color: #fff;
	display: none;
	position: fixed!important;
	top: 50%;
	left: 50%;
	margin-left: -200px;
	margin-top: -122px;
	_position: absolute;
	_top: expression(eval(document.documentElement.scrollTop+50%));
	z-index: 99999;
}

.pop-yuyue .title {
	height: 63px;
	line-height: 63px;
	color: #fff;
	font-size: 16px;
	padding: 0 15px;
	position: relative;
}

.pop-yuyue .title .pop-yuyue-close {
	width: 19px;
	height: 19px;
	background: url(../maobg/yy-pop-close.png) 0 0 no-repeat;
	position: absolute;
	top: 23px;
	right: 18px;
	cursor: pointer;
}

.pop-yuyue .con {
	border: 1px solid #eaeaea;
	padding: 25px 50px 15px;
}

.pop-yuyue .txt {
	padding-bottom: 35px;
}

.pop-yuyue .txt input {
	width: 180px;
	height: 32px;
	font-size: 18px;
	color: #999;
	line-height: 32px;
	border-bottom: 1px solid #ddd;
}

.pop-yuyue .txt .link-service {
	width: 112px;
	height: 32px;
	color: #fff;
	text-align: center;
	line-height: 32px;
	border-radius: 3px;
	background-color: #044a9f;
}

.pop-yuyue .con .con-item p {
	font-size: 12px;
	color: #333;
	padding-bottom: 20px;
}

.pop-yuyue .con-btm {}

.pop-yuyue .con-btm a {
	display: block;
	text-align: center;
}

.pop-yuyue .con-btm .zixun-btn {
	width: 100%;
	height: 32px;
	line-height: 32px;
	text-align: center;
	color: #fff;
	border-radius: 3px;
	margin-bottom: 15px;
}

.pop-yuyue .con-btm .refuse-btn {
	color: #999;
	font-size: 12px;
	text-decoration: underline;
}


/*咨询弹窗 end*/

.top_banner {
	position: relative;
}

.btn_orange {
	width: 120px;
	height: 42px;
	line-height: 42px;
	background-color: #f97b2f;
	position: absolute;
}

.btn_orange a {
	display: block;
	width: 100%;
	text-align: center;
	font-size: 16px;
	color: #fff;
}


/*网站建设直通车*/

.ztc-quick {
	width: 1100px;
	height: 110px;
	padding-top: 24px;
	background: url(../maobg/ztc-bg-1.png) 0 0 no-repeat;
	position: fixed;
	bottom: 0;
	left: 2000px;
	z-index: 10;
}

.ztc-quick-close {
	position: absolute;
	top: 0;
	right: 0;
	z-index: 5;
}

.ztc-quick-txt {
	padding-left: 116px;
	padding-right: 40px;
	color: #fff;
	float: left;
}

.quick-txt-hd {
	height: 40px;
	line-height: 40px;
	font-size: 24px;
}

.quick-txt-sub {
	font-size: 18px;
}

.ztc-quick-iden {
	width: 462px;
	position: relative;
	float: left;
}

.ztc-quick ul {
	width: 364px;
	padding-left: 105px;
	overflow: hidden;
}

.ztc-quick-iden ul li {
	width: 164px;
	height: 56px;
	line-height: 56px;
	text-align: right;
	padding: 4px;
	border-radius: 5px;
	background-color: #fff;
	margin-right: 20px;
	float: left;
	cursor: pointer;
}

.ztc-quick-iden ul li a {
	color: #333;
	display: block;
}

.ztc-quick-iden ul li.last {
	margin-right: 0;
}

.ztc-quick-iden ul li.active a {
	color: #ab2228;
}

.ztc-quick-iden ul li span {
	font-size: 20px;
	padding-right: 32px;
}

.ztc-quick-iden .quick-iden-q {
	color: #fff;
	position: absolute;
	top: 40%;
	left: 0;
	z-index: 2;
}

@charset "utf-8";

/* CSS Document */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
button,
input {
	margin: 0px;
	padding: 0px;
	border: 0px none;
	outline: 0px none;
	font-size: 100%;
	vertical-align: baseline;
	background: none repeat scroll 0% 0% transparent;
}

ol,
ul,
li {
	list-style: none;
}

body {
	background: #fff;
	font-size: 14px;
	color: #333;
	font-family: Arial, "Microsoft YaHei", "微软雅黑", "宋体";
	font-family: "Microsoft YaHei", "微软雅黑", "宋体"\9;
	font-weight: normal;
}

input {
	font-family: Arial, "Microsoft YaHei", "微软雅黑", "宋体";
}

textarea {
	font-family: Arial, "Microsoft YaHei", "微软雅黑", "宋体";
}

a {
	text-decoration: none;
	outline: none;
	cursor: pointer;
	color: #333
}

a:hover {
	text-decoration: none;
	outline: none;
	cursor: pointer;
	color: #ec6500
}

.clear {
	clear: both;
	height: 0px;
	margin: 0;
	padding: 0;
	width: 0;
	border: none;
	overflow: hidden;
}

a {
	transition: all 0.2s;
	-moz-transition: all 0.2s;
	/* Firefox 4 */
	-webkit-transition: all 0.2s;
	/* Safari 和 Chrome */
	-o-transition: all 0.2s;
	/* Opera */
}

.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

.clearfix {
	display: inline-block;
}

* html .clearfix {
	height: 1%;
}

.clearfix {
	display: block;
}

.clearfix:after,
.fix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

.clearfix,
.fix {
	zoom: 1;
}

/*.floatL {
	float:right;
}*/

.floatR {
	float: right;
}

.alignL {
	text-align: left;
}

.alignR {
	text-align: right;
}

.marginB {
	margin-bottom: 6px;
}

.marginB40 {
	margin-bottom: 40px;
}

.border-top {
	border-top: 1px solid #ececec;
}

.container {
	width: 1200px;
	margin: 0 auto;
	position: relative;
	box-sizing: border-box;
}

.bg-f5f6fa {
	background-color: #f5f6fa;
}

.bg-fc {
	background-color: #fcfcfc;
}

.bg-ff {
	background-color: #fff;
}

.anli-main-plan-nav li {
	width: 183px;
	height: 100px;
	display: block;
	margin: 0px;
	padding: 0px;
	clear: both;
}

.action a.libox {
	background: url(../maobg/img1-1.jpg) 20px center #2f8ae7 no-repeat;
	width: 123px;
	height: 60px;
	display: block;
	padding-top: 40px;
	padding-left: 60px;
	text-align: left;
	color: #fff;
	border: none;
}

a.libox {
	border-bottom: #eaeaea 1px solid;
	border-left: #eaeaea 1px solid;
	background: url(../maobg/img1.jpg) 20px center #fff no-repeat;
	width: 122px;
	height: 59px;
	display: block;
	padding-top: 40px;
	padding-left: 60px;
	text-align: left;
}

a.libox:hover {
	border: none;
	background: url(../maobg/img1-1.jpg) 20px center #2f8ae7 no-repeat;
	width: 123px;
	height: 60px;
	display: block;
	padding-top: 40px;
	padding-left: 60px;
	text-align: left;
	color: #fff;
}

a.libox1 {
	border-left: #eaeaea 1px solid;
	border-bottom: #eaeaea 1px solid;
	background: url(../maobg/img2.jpg) 20px center #fff no-repeat;
	width: 122px;
	height: 59px;
	display: block;
	padding-top: 40px;
	padding-left: 60px;
	text-align: left;
}

a.libox1:hover {
	border: none;
	background: url(../maobg/img2-1.jpg) 20px center #2f8ae7 no-repeat;
	width: 123px;
	height: 60px;
	display: block;
	padding-top: 40px;
	padding-left: 60px;
	text-align: left;
	color: #fff;
}

.action a.libox1 {
	border: none;
	background: url(../maobg/img2-1.jpg) 20px center #2f8ae7 no-repeat;
	width: 123px;
	height: 60px;
	display: block;
	padding-top: 40px;
	padding-left: 60px;
	text-align: left;
	color: #fff;
}

a.libox2 {
	border-left: #eaeaea 1px solid;
	background: url(../maobg/img3.jpg) 20px center #fff no-repeat;
	width: 122px;
	height: 60px;
	display: block;
	padding-top: 40px;
	padding-left: 60px;
	text-align: left;
}

a.libox2:hover {
	border: none;
	background: url(../maobg/img3-1.jpg) 20px center #2f8ae7 no-repeat;
	width: 123px;
	height: 60px;
	display: block;
	padding-top: 40px;
	padding-left: 60px;
	text-align: left;
	color: #fff;
}

.action a.libox2 {
	border: none;
	background: url(../maobg/img3-1.jpg) 20px center #2f8ae7 no-repeat;
	width: 123px;
	height: 60px;
	display: block;
	padding-top: 40px;
	padding-left: 60px;
	text-align: left;
	color: #fff;
}


/*--------------------------------------分页---------------------------------------------*/

.job-page {
	padding: 0 10px;
	line-height: 30px;
	font-size: 12px;
}

.page {
	line-height: 30px;
	font-size: 12px;
}

.all-page {
	float: left;
}

.all-page span {
	color: #008cd6;
}

.flip-page {
	float: right;
}

.flip-page ul {
	text-align: center;
}

.flip-page li {
	float: left;
	margin-left: 5px;
	height: 28px;
	line-height: 28px;
}

.flip-page li a {
	margin: 0;
	padding: 0;
	display: block;
	display: block;
	padding: 0 5px;
}

.flip-page li a:hover {
	color: #ec6500;
}

.flip-page li a.active {
	color: #ec6500;
}

.flip-page li a.default {
	color: #d7d7d7;
	cursor: default;
}

.now-page {
	float: right;
	margin-right: 5px;
}

.now-page span {
	color: #ec6500;
	padding: 0 5px;
}
/*-----------------------网页右边的出现小框框-------------------------*/
.pinright{
	width:90px;
	height:auto;
	position: fixed;
	padding: 10px;
	background-color: white;
	right:30px;
	top: 60%;
	margin-top: -160px;
	z-index: 1000;
	border: 1px solid #aaa;
}
.pinright .pingright_ul{
	width: 100%;
	height: 100%;
	
}
.pinright .pinright_guangbi{
	width:34px;
	height:34px;
	position: absolute;
	top: -10px;
	right: -10px;
	text-align: center;
	line-height: 34px;
	background: white;
	z-index: 10001;
	border-radius:50% ;
}
.pinright .pinright_guangbi .iconfont{
	font-size: 34px;
	color: #aaa;
}
.pinright .pingright_ul li{
	width: 100%;
	height: auto;
	border-bottom: 1px dashed #ccc;
	
}
.pinright .pingright_ul li .iconfont{
	display: block;
	margin:10px auto;
	width: 100%;
	height: 34px;
	text-align: center;
	font-size: 40px;
	color:#46b7cf ;
}
.pinright .pingright_ul li p{
	width: 100%;
	height: 20px;
	line-height: 20px;
	text-align: center;
	font-size: 14px;
	color:black;
	font-weight: bold;
}
.pinright .pingright_ul li p a{
	color:black;
}
.pinright .pingright_ul li img{
	display: block;
	width:80px;
	height:80px;
	margin:10px auto;
}
#pinright_chuxian{
	width:20px;
	height:108px;
	position: fixed;
	padding: 10px;
	background-color:rgba(0,0,0,0.6);
	color:white;
	right:20px;
	top: 70%;
	margin-top: -160px;
	z-index: 999;
	border: 1px solid #aaa;
	font-size: 20px;
	border-radius:10px ;
	display: none;
}
/*-----------------------网页右边的出现小框框-------------------------*/