.nr_jj{
	padding:30px ;
	width:100%;
	height:420px;
	background: url(../img/bjtne.png)no-repeat;
	background-size: cover;
}
.nr_jj_div{
	width:1000px;
	height: 400px;
	margin:0 auto;
	color:#fff;
	line-height: 60px;
	font-weight: bold;
	font-size: 18px;
	text-indent: 2em;
}
section{
	background: #fff;
}
.xiao_lbt{
	width: 100%;
	height:500px;
	background-color:#f8c700;
	padding: 45px 0;
	position: relative;
}
.lbt_div{
	width: 900px;
	height: 400px;
	margin: 0 auto;
	position:relative;
	overflow: hidden;
}
.lbt_div ul{
	width: 300%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	transition: all 1s;
}
.lbt_div ul li{
	height:400px;
	width: 900px;
	float: left;
}
.lbt_bdiv{
	width: 1200px;
	height: 100%;
	margin:0 auto;
	position: relative;
}
.zy_zuo{
	width:60px;
	height:60px;
	background:url(../img/zyanz.png)no-repeat;
	position: absolute;
	top: 50%;
	margin-top: -30px;
	background-size: cover;
	left: 0px;
	border-radius:50% ;
}
.zy_you{
	width: 60px;
	height:60px;
	border-radius:50% ;
	background:url(../img/zyany.png)no-repeat;
	position: absolute;
	top: 50%;
	margin-top: -30px;
	background-size: cover;
	right: 0px;
}
.xiabu{
	width:100%;
	height:auto;
	overflow: hidden;
	margin:0 auto;
	text-align: center;
	background: #fff;
	background: url(../lbt/tiaoxing.png)no-repeat;
	background-position:center ;
	background-size:cover ;
}
.xiabu_div{
	width:1200px ;
	height: auto;
	margin:0 auto;
	text-align:center ;
}
.anniu:hover{
box-shadow: 0 0 20px 2px #eee;
transform: scale(1.1)
}
.sjx{
	position: absolute;
	width: 100%;
	height:30px;
	top: 0;
	left: 0;
	z-index: 1000;
	background: url(../img/jiao.png);
}
.xb_wzjs{
	height: auto;
	
	width: 100%;
	background-color:#f8c700;
}
.xb_wzjs_div{
	
	width: 1200px;
    margin: 0 auto;
    height: auto;
    font-size: 24px;
    text-align: left;
    line-height: 40px;
    padding: 20px;
    color: #fff;
    font-family: "微软雅黑";
    font-weight: bold;
	text-indent: 2em;
}
.war{
	width: 100%;
	height: auto;
	padding:40px 0;
}
.war h2{
	height: 60px;
	width: 100%;
	line-height: 60px;
	text-align: center;
   font-size: 40px;
   color: #f8c700;
   background:#fff;
font-family: "微软雅黑";
}
.war h3{
	height:60px;
	line-height: 60px;
	width: 100%;
	text-align: center;
   font-size:42px;
   color: #f8c700;
   background:#fff;
font-family: "微软雅黑";
}
